<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-secondary navbar-dark text-white">
    <img class="navbar-brand" src="https://img.freepik.com/premium-vector/weather-cloud-sun-rain-lightning-logo-design-symbol-icon-template_23729-1786.jpg" width="auto" height="80" routerLink="/home" >

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/currentWeather">Dettagli meteo in questo momento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/qualitaAria">Dettagli sulla qualità dell'aria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/previsioni">Previsioni per 5 giorni ogni 3 ore </a>
      </li>
    </ul>
  
  </nav>
  
  <div>
    <router-outlet></router-outlet>
  </div>


</body>
</html>